
*, *::before, *::after {
	box-sizing:	border-box;
}

body {
	--section-padding:		1rem;
	--border-debug-width:	0px;
	--page-padding:			calc(100vw / 20);
	--page-padding:			0px;

	padding-left:	var(--page-padding);
	padding-right:	var(--page-padding);
	margin:		0px;
	display:	grid;
	gap:		0rem;
	grid-template-columns:	fit-content(30vw) fit-content(2rem) 1fr;
	grid-template-rows:		auto 3rem auto;
	grid-template-areas:
		"header header header"
		"search hamburger ."
		"menu   content content"
		"footer footer footer"
	;

	& > form {
		display:	contents;
	}

	& > form > input[type = "checkbox"] {
		display:	none;
	}


	& > form:has(input[type="checkbox"]) + header > nav,
	& > form:has(input[type="checkbox"]) + header > search {
		transition:			margin 1s 0s;
		margin-left:		0px;
		margin-right:		0px;
	}

	& > form:has(input[type="checkbox"]:not(:checked)) + header > nav,
	& > form:has(input[type="checkbox"]:not(:checked)) + header > search {
		margin-left:	calc(-30vw - var(--page-padding));
		margin-right:	var(--page-padding);
	}

	& > header, & > form > header {
		display:	contents;


		& > search,
		& > label {
			align-self:		stretch;
			display:		flex;
			align-items:	center;
			& > form {
				display:		flex;
				gap:			1rem;
				align-items:	center;
			}
		}

		& > label {
			grid-area:		hamburger;
			padding-left:	var(--section-padding);
			padding-right:	var(--section-padding);
			padding-top1:	var(--section-padding);
		}


		& > * {
			/*background-color:	white;*/
			border:	var(--border-debug-width) solid red;
		}

		& > h1 {
			padding-left:	var(--section-padding);
			padding-right:	var(--section-padding);
			position:		sticky;
			top:			0px;
			grid-area:		header;
		}

		& > svg {
			padding-left:	var(--section-padding);
			padding-right:	var(--section-padding);
			position:		sticky;
			top:			1px;
			border:			1px solid red;
			grid-area:		header;
		}

		& > search {
			padding-left:		var(--section-padding);
			padding1-top:		var(--section-padding);
			padding-right:		var(--section-padding);
			padding1-bottom:	var(--section-padding);
			top:			0px;
			grid-area:		search;
		}


		& > nav {
			padding-left:	var(--section-padding);
			padding-top:	var(--section-padding);
			padding-right:	var(--section-padding);
			/*
			position:		sticky;
			top:			0px;
			*/
			grid-area:		menu;
		}

		& > nav > ul {
			margin:		0px;
			& > li {
			}
		}
	}

	& > footer, & > form > footer {
		border:				1px solid blue;
		border-width:		var(--border-debug-width);
		display:			flex;
		justify-content:	center;
		flex-wrap:			wrap;
		grid-area:			footer;

		& > * {
			padding:	var(--section-padding);
		}
	}

	& > main, & > form > main, & > main > form {
		grid-area:		content;
		& > section {
			padding:	var(--section-padding);
			border:		1px solid green;
			border-width:		var(--border-debug-width);

			& > figure {
				border:	1px solid red;
				border-width:		var(--border-debug-width);
				& > img {
					max-width:	30vw;
				}
			}
		}
	}
}

@media (width <= 800px) {
	body {
		grid-template-columns:	auto;
		display:		flex;
		flex-direction:	column;
		& > header, & > form > header {
			& > h1 {
				position:		static;
			}

			& > nav {
				position:		static;
			}
		}

		& > main, & > form > main {
			& > section {
				min-height:	10vh;
			}
		}

		& > form:has(input[type="checkbox"]:not(:checked)) + header > nav,
		& > form:has(input[type="checkbox"]:not(:checked)) + header > search {
			margin-left:	calc(-30vw - var(--page-padding));
			margin-right:	var(--page-padding);
			display:		none;
		}
	}
}

/*
@media (width <= 1200px) {
	body {
		grid-template-columns:	fit-content(30vw) fit-content(2rem) 1fr;

		& > main, & > form > main {
			& > section:nth-child(2n + 1) {
				grid-column: 2;
			}
			& > section:nth-child(2n + 2) {
				grid-column: 3;
			}
		}
	}

}
*/
